.Container {
  width: 80%;
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.Images {
  display: flex;
  flex-direction: column;
  }
.Img {
  margin-bottom: 2rem;
}
.Informacoes {
  padding: 10px;
}

.preco {
  width: 80px;
  padding: 10px;
  background: chartreuse;
  border-radius: 5px;
}